//浮动、清除浮动
.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
.fl {
  float: left;
}
.fr {
  float: right;
}

//字体相关
.fs10 {
  font-size: 12px;
}
.fs11 {
  font-size: 12px;
}
.fs12 {
  font-size: 12px;
}
.fs13 {
  font-size: 13px;
}
.fs14 {
  font-size: 14px;
}
.fs15 {
  font-size: 15px;
}
.fs16 {
  font-size: 16px;
}
.fs17 {
  font-size: 17px;
}
.fs18 {
  font-size: 18px;
}
.fs19 {
  font-size: 19px;
}
.fs20 {
  font-size: 20px;
}
.fs21 {
  font-size: 21px;
}
.fs22 {
  font-size: 22px;
}
.fw600 {
  font-weight: 600 !important;
}
.fwb {
  font-weight: bold !important;
}

//布局定位
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}
.mh-auto {
  margin-left: auto;
  margin-right: auto;
}
.hide {
  visibility: hidden !important;
}
.hidden {
  display: none !important;
}
.overflow-h {
  overflow: hidden;
}
.overflow-scroll {
  overflow: scroll;
}
.flex {
  display: -webkit-flex;
  display: flex;
}
.flex1 {
  flex: 1;
}
.inline-flex {
  display: -webkit-inline-flex;
  display: inline-flex;
}
.inline-b {
  display: inline-block !important;
}
.justify-content-c {
  justify-content: center;
}
.justify-content-sb {
  justify-content: space-between;
}
.align-items-c {
  align-items: center;
}

// 背景色
.bg-white {
  background-color: white !important;
}
.bg-none {
  background-color: transparent !important;
}
//高度、宽度百分比
.width100 {
  width: 100%;
}
.height100 {
  height: 100%;
}
//字里行间
.nowrap {
  white-space: nowrap;
}
// 文字颜色
.c-333 {
  color: #333333 !important;
}
.c-999 {
  color: #999999 !important;
}
.c-ccc {
  color: #ccc !important;
}
.c-gray-darker {
  color: #000000;
}
.c-gray-dark {
  color: #4a4a4a;
}
.c-gray-base {
  color: #666666;
}
.c-gray-light {
  color: #9e9e9e;
}
.c-gray-lighter {
  color: #b1b1b1;
}
.c-blue-base {
  color: #0069b7;
}
.c-blue-light {
  color: #78a6dc;
}
.c-gray {
  color: #dedcdc;
}
.c-red {
  color: #ff5a37 !important;
}

// 文字位置设置
.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}
.text-center {
  text-align: center !important;
}
.text-underline {
  text-decoration: underline;
}

// 垂直方向对齐方式
.v-top {
  vertical-align: top !important;
}
.v-middle {
  vertical-align: middle !important;
}
.v-bottom {
  vertical-align: bottom !important;
}
.v-baseline {
  vertical-align: baseline !important;
}
.v-text-top {
  vertical-align: text-top !important;
}

//单行省略
.ellipsis {
  text-overflow: ellipsis;
}

//颜色
.green {
  color: green !important;
}
.red {
  color: red !important;
}
.yellow {
  color: yellow !important;
}
.gray {
  color: gray !important;
}
.white {
  color: white !important;
}
.bg-black {
  background: black !important;
}
.bg-white {
  background: white !important;
}
.bg-red {
  background: #ff5a37 !important;
}
.bg-f8 {
  background: #f8f8f8 !important;
}

// 设置光标样式
.pointer {
  cursor: pointer !important;
}

.cursor-default {
  cursor: default !important;
}

// 边框
.border {
  border: solid 1px #e6e6e6;
}

.border-b {
  border-bottom: solid 1px #e6e6e6;
}

.border-l {
  border-left: solid 1px #e6e6e6;
}

.border-r {
  border-right: solid 1px #e6e6e6;
}

.border-t {
  border-top: solid 1px #e6e6e6;
}
//搜索框公用样式
.default-input-box {
  position: relative;
  display: inline-block;
  width: 100%;
}
.default-input {
  outline: none;
  -webkit-appearance: none;
  border: none;
  background: #f8f8f8;
  color: #999999;
  border-radius: 6px;
  height: 28px;
  line-height: 28px;
  width: 100%;
  padding-left: 28px;
  font-size: 14px;
  opacity: 1;
}
.icon-search:before {
  content: "\e901";
  position: absolute;
  line-height: 30px;
  font-size: 18px;
  padding-left: 7px;
  color: #999999;
}
@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?zac8ka");
  src: url("fonts/icomoon.eot?zac8ka#iefix") format("embedded-opentype"),
    url("fonts/icomoon.ttf?zac8ka") format("truetype"),
    url("fonts/icomoon.woff?zac8ka") format("woff"),
    url("fonts/icomoon.svg?zac8ka#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mt50PX {
  margin-top: 50px;
}
